.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/proyectoMates.iml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
.Proyecto/Calculator/*.out
*.xml
